.app__wrapper {
  border: 1px solid rgba(0,0,0,.25);
  margin: 2rem auto 0;
  width: 75vw;
}

.app__main {
  padding: 1rem;
}

.products__container {
  display: flex;
  flex-direction: column;
}

.products-section{
  display: flex;
  flex-direction: column;
}

.products-section__header{
  border-top: 1px solid rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(0,0,0,.5);
  padding: .5rem;
  text-align: center;
  text-transform: uppercase;
}

.product__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: .5rem;
}

.product__card {
  border-bottom: 3px solid rgba(0,0,0,.05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__image{
  box-sizing: border-box;
  background-color: rgba(0,0,0,.05);
  width: 200px;
  object-fit: cover;
  padding: .75rem;
}

.product__name--sale{
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin: 0 .5rem;
  width: 12px;
}

.product__name--nosale{
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  margin: 0 .5rem;
  width: 12px;
}
